<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.woowakguide.GuideU</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>guideu</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>WantedSans-Black.otf</string>
		<string>WantedSans-Bold.otf</string>
		<string>WantedSans-ExtraBlack.otf</string>
		<string>WantedSans-ExtraBold.otf</string>
		<string>WantedSans-Medium.otf</string>
		<string>WantedSans-Regular.otf</string>
		<string>WantedSans-SemiBold.otf</string>
	</array>
</dict>
</plist>
